.app-logo{
    animation: app-logo-spin infinite 10s linear;
    pointer-events: none;

}
@keyframes app-logo-spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}